@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* css reset, because the website have default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* we specify the font-size to use rem and buid a responsive website */
html {
    font-size: 10px;
}

body {
    font-family: "Roboto", sans-serif;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
}

.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-section img {
    width: 40px;
    height: 30px;
    margin-left: 16px;
}

.middle-section {
    display: flex;
    align-items: center;
    margin-left: -9%;
}

.middle-section form {
    display: flex;
    height: 40px;
    width: 628px;
}

.middle-section input {
    width: 100%;
    border-radius: 2px 0 0 2px;
    padding: 12px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
    border-right: none;
}

.middle-section button {
    width: 64px;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    padding-top: 4px;
    background-color: #f8f8f8;
    cursor: pointer;
}

.middle-section button:hover {
    border-color: #c6c6c6;
    background-color: #f0f0f0;
}

.middle-section .mic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
}

.right-section span {
    margin-right: 12px;
    cursor: pointer;
}

.content-area {
    height: calc(100vh - 56px);
    display: flex;
    background-color: #f9f9f9;
}

aside {
    height: 100%;
    width: 280px;
    background-color: white;

    /* the scrollbar on y-axis will appears only if we need it */
    overflow-y: auto;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px 16px;
    text-decoration: none;
    color: black;
}

.nav-link span {
    margin-left: 24px;
    font-size: 1.7rem;
    line-height: 2em;
    color: #030303;
}